* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(207, 189, 189);
}

body .videos {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.videos video {
  min-width: 40vw;
  width: 100%;
}